[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "tpm"]
	path = tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "fzf-zsh"]
	path = fzf-zsh
	url = git@github.com:Treri/fzf-zsh.git
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "spacemacs-private/groovy"]
	path = spacemacs-private/groovy
	url = git@github.com:dcluna/spacemacs-groovy.git
[submodule "asdf"]
	path = asdf
	url = git@github.com:asdf-vm/asdf.git
[submodule "dotbot-asdf"]
	path = dotbot-asdf
	url = https://github.com/sobolevn/dotbot-asdf.git
[submodule "oh-my-zsh-themes/powerlevel9k"]
	path = oh-my-zsh-themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
